:root {
  --pastel-pink: #ffd6ff;
  --lavender-pink: #e7c6ff;
  --mauve-pink: #c8b6ff;
  --soft-lilac: #b8c0ff;
  --pale-sky-blue: #bbd0ff;
}

.bg-red {
  background-color: red;
}

.button--main {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  color: #FFF;
  background: #1e90ff;
}

.flex {
  display: flex
}

.justify-center {
  justify-content: center
}

.items-center {
  align-items: center
}

.cursor-pointer {
  cursor: pointer
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-col {
  flex-direction: column
}

.position-absolute {
  position: absolute
}

.position-fixed {
  position: fixed
}

body {
  background-image: url("https://darksoul-codepen.github.io/DarkSoul.png");
}
