:root {
    --pastel-pink: #ffd6ff;
    --lavender-pink: #e7c6ff;
    --mauve-pink: #c8b6ff;
    --soft-lilac: #b8c0ff;
    --pale-sky-blue: #bbd0ff;
    --panel-width: 25vw;
    --panel-max-width: 450px
}

.bg-red {
    background-color: red;
}

.button--main {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    color: #FFF;
    background: #1e90ff;
}

.flex {
    display: flex
}


.left-10 {
    left: 10px;
}

.justify-center {
    justify-content: center
}

.space-evenly {
    justify-content: space-evenly
}

.space-around {
    justify-content: space-around
}

.w-full {
    width: 100%
}

.items-center {
    align-items: center
}

.cursor-pointer {
    cursor: pointer
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-col {
    flex-direction: column
}

.position-absolute {
    position: absolute
}

.position-fixed {
    position: fixed
}

.position-relative {
    position: relative
}

body {
    position: fixed;
    /* background-image: url("https://darksoul-codepen.github.io/DarkSoul.png"); */
    background-color: #D3CCFD;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.button {
    display: flex;
    background: rgba(250, 240, 255, .7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 15px;
    height: 15px;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    cursor: pointer
}

.button:hover {
    background: rgba(255, 255, 255, .8);
}

.button:active {
    border: none
}

.first-child-is-icon > :first-child  {
    font-size: 1.3em;
    margin-right: 5px;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
